<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.projectdummy.account.AccountMapper">


    <insert id="saveBankAccount" useGeneratedKeys="true" keyProperty="accountId">
        INSERT INTO bank_account
            (product_id, cust_id, employee_id, account_num, account_password, money, status_code)
        VALUES
            (#{productId},#{custId},#{employeeId},#{accountNum},#{accountPassword},#{money},#{statusCode})
    </insert>
    <insert id="insBankAccount">
        insert into bank_account
        (account_id, product_id, cust_id, employee_id, account_num, account_password, money, status_code, created_at)
        values
        (#{accountId} ,#{productId}, #{custId}, #{employeeId}, #{accountNum}, #{accountPassword}, #{money}, #{statusCode}, #{createdAt})
    </insert>

    <insert id="insBankInternalAccount">
        insert into bank_internal_account
        (account_code, account_num, flag, created_at, updated_at)
        values
        (#{account_code}, #{account_num}, #{flag}, #{created_at}, #{updated_at})
    </insert>

    <insert id="insLoanAccount">
        insert into loan_account
        (account_id, loan_money, discounted_rate, additional_rate, rate_id, end_at, redemption_code)
        values
        (#{accountId}, #{loanMoney}, #{discountedRate}, #{additionalRate}, #{rateId}, #{endAt}, #{redemptionCode})
    </insert>

    <select id="selAccountId">
        SELECT account_id, product_id
        FROM bank_account A
        JOIN product B ON a.product_id = b.product_id
        WHERE b.product_id &lt; 50001 OR b.product_id &gt; 200000
        UNION
        SELECT account_id
        FROM bank_account a
        JOIN savings_deposit b ON a.product_id = b.sa_deposit_id
        WHERE out_flag = 0
    </select>

</mapper>
